:root{
  /* colors */
  --font-color: #222;
  --ul-color: #7FC7C3;
  --bg-color: #F4F4ED;
  --title-color: #222;
  --remove-color: #FC4442;
  --new-client-color: #1d1d1d;
  --list-header: #1A1924;
  /* size */
  --font-huge: 4rem;
  --font-big: 2rem;
  --font-normal: 1.3rem;
  --font-small: 1rem;
  --space-huge: 6rem;
  --space-big: 2rem;
  --space-normal: 1rem;
  --space-small: 0.3rem;
  /* width height */
  --input-width: 250px;
}

/* general */
*{
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  font-family: monospace;
  overflow-x: hidden;
  overflow-y: scroll;
}

.title{
  min-width: 100%;
  text-align: center;
  font-weight: 400;
  color: var(--title-color);
  font-size: var(--font-huge);
  padding: var(--space-big);
}

.input{
  min-width: var(--input-width);
  font-size: var(--font-normal);
  padding: 10px;
  border: 2.5px solid var(--font-color);
  margin-bottom: var(--space-normal);
}

.input--bottom{
  margin-bottom: var(--space-small);
  font-size: var(--font-small);
  border: none;
}

/* list */
ul{
  text-decoration: none;
  list-style-type: none;
  background-color: var(--ul-color);
  color: var(--font-color);
  font-size: var(--font-normal);
  padding: var(--space-normal);
  min-width: 400px;
}

.list-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-bottom: var(--space-huge);
}

.list-box{
  display: flex;
  flex-flow: row wrap;
  min-width: 400px;
  justify-content: space-between;
}

.list_item{
  margin: 0;
  padding: var(--space-small);
}

.list_item--header{
  font-size: var(--font-big);
  color: var(--list-header);
  padding: var(--space-small);
  padding-left: 0;
  font-weight: 700;
}

.list_item--remove{
  color: var(--remove-color);
  cursor: pointer;
  margin-left: var(--space-small);
}

/* footer */
.new-client-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--space-normal);
  background-color: var(--new-client-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.add_btn{
  padding: var(--space-small) var(--space-normal) var(--space-small) var(--space-normal);
  font-size: var(--font-small);
  color: var(--font-color);
  background-color: var(--ul-color);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 650px){
  html{
    font-size: 14px;
  }
  .title{
    width: 100vw !important;
  }
  .list-box{
    min-width: 320px;
  }
  ul{
    min-width: 320px;
  }
  .input--bottom{
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .list-container{
    margin-bottom: 10rem;
  }
  .add_btn{
    width: 25%;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
